@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;600;700;900&display=swap");

:root {
  --dark-green: #4d96a9;
  --blue: #8fe3f9;
  --purple: #855fb1;
  --pink: #d9b8ff;
  --black: #28283d;
  --white: #fafafa;
  --gray: #87879d;

  --dark-green-opacity: rgba(77, 150, 168, 0.9);
  --dark-green-hover: #71c0d4;
  --purple-hover: #b18bdd;
  --light-gray: #d8d8d8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-size: 18px;
  line-height: 18px;
}

h1 {
  font-size: 64px;
  line-height: 64px;
  font-weight: 900;
  text-align: center;
  padding-bottom: max(2.5%, 25px);
}

h2 {
  font-size: 40px;
  line-height: 44px;
  font-weight: 900;
  text-align: center;
}

.overline {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--dark-green);
  font-weight: 900;
  text-align: center;
  margin-bottom: 15px;
}

p {
  line-height: 26px;
}
/*--HEADER-----------------------------*/

header .logo {
  display: block;
  margin: max(5.5%, 50px) auto;
}

header p {
  text-align: center;
}

header .buttons {
  text-align: center;
}

.text-container {
  width: 540px;
  max-width: 95%;
  margin: 0 auto;
  margin-bottom: 80px;
}

/*--SECTION-----------------------------*/
section p {
  margin-top: 30px;
  text-align: center;
}

/*--BUTTONS----------------------------*/

.buttons {
  max-width: 70%;
  margin: 20px auto;
}

.button {
  display: inline-block;
  color: var(--white);
  text-align: center;
  border-radius: 50px;
  font-weight: 700;
  transition-property: background-image;
  transition-duration: 0.5s;
  margin: 10px 10px 5px 10px;
}

.button-what {
  background-color: var(--purple);
  padding: 20px 25px;
}

.button-download {
  padding: 20px 35px;
}

/* COLORS:*/
header .button-download {
  background-color: var(--dark-green);
}

header .span-version {
  color: var(--blue);
}

footer .button-download {
  background-color: var(--purple);
}

footer .span-version {
  color: var(--pink);
}

/*Another idea: only one hover - but complicate to choose opaciy
.button:hover {
  opacity: 0.7;
}
*/

footer .button-download:hover {
  background-color: var(--purple-hover);
}

header .button-download:hover {
  background-color: var(--dark-green-hover);
}

.button-what:hover {
  background-color: var(--purple-hover);
}

/*--SECTION NUMBERS--------------------*/

.section-number {
  margin: 0 auto;
  text-align: center;
  z-index: 1;
  margin-bottom: calc(-56px / 2);

  /*Relative way:
   position: relative; 
  bottom: calc(-56px / 2); */
}

.number {
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
  letter-spacing: 1px;
  color: var(--gray);
  border: 1px solid var(--light-gray);
  width: 56px;
  height: 56px;
  padding: calc((56px - 26px) / 2);
  text-align: center;
  text-justify: center;
  font-weight: 700;
  line-height: 26px;
  background: var(--white);
}

.line {
  border-right: 1px solid var(--light-gray);
  height: 84px;
  width: 1px;
  margin: 0 auto;
}

/*--IMAGES----------------------------*/

.images {
  width: 90%;
  max-width: 1140px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 65px auto;
  flex-wrap: wrap;
}

.image {
  width: 23%;
  margin: 3% 1%;
  border-radius: 5%;
  display: flex;
  min-width: 150px;
  justify-content: center;
}
/*TODO: 2+2 instead of 3+1*/

/*--FOOTER------------------------*/

footer {
  background: linear-gradient(
      0deg,
      var(--dark-green-opacity),
      var(--dark-green-opacity)
    ),
    url("/assets/desktop/image-footer.jpg");
  background-size: cover;
  background-position: center;
}

.footer-content {
  max-width: 1140px;
  margin: 0 auto;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  flex-wrap: wrap;
  height: 100%;
  padding: 60px 0;
  min-height: 300px;
}

.footer-box {
  width: 29.3333%;
  display: flex;
  margin: 1%;
  padding: 1%;
  justify-content: center;
}

footer h2,
footer p {
  text-align: left;
}

@media screen and (max-width: 950px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-box {
    height: 29.333%;
    width: 100%;
  }

  footer h2 {
    text-align: center;
    width: 75%;
  }

  footer p {
    text-align: center;
    width: 85%;
  }
}

@media screen and (max-width: 500px) {
  footer h2,
  footer p {
    width: 90%;
  }

  h1 {
    font-size: 40px;
    line-height: 44px;
  }
}
