@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;600;700;900&display=swap");

:root {
  --dark-green: #4d96a9;
  --blue: #8fe3f9;
  --purple: #855fb1;
  --pink: #d9b8ff;
  --black: #28283d;
  --white: #fafafa;
  --gray: #87879d;

  --dark-green-opacity: rgba(77, 150, 168, 0.9);
  --dark-green-hover: #71c0d4;
  --purple-hover: #b18bdd;
  --light-gray: #d8d8d8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-size: 18px;
  line-height: 18px;
}

h1 {
  font-size: 64px;
  line-height: 64px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 32px;
}

h2 {
  font-size: 40px;
  line-height: 44px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 32px;
}

.overline {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--dark-green);
  font-weight: 900;
  text-align: center;
  margin-bottom: 15px;
}

p {
  line-height: 26px;
  text-align: center;
  color: var(--gray);
  margin-bottom: 32px;
}

/*TODO: check*/
footer,
.header-flex {
  overflow: hidden;
}

/*--HEADER-FLEX-----------------------------*/

.header-flex {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: stretch;
  margin: 0 auto;
  margin-bottom: 110px;
}

.header-box {
  flex: 1;
  justify-items: center;
  align-items: center;
}

.img-group {
  display: flex;
  flex: 1;
  justify-items: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.img-left {
  order: 1;
  margin-left: -4%;
}

.img-right {
  order: 3;
  margin-right: -4%;
}

header .text-container {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: flex-end;
}

.img-row {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.header-image {
  align-items: center;
  margin: 5%;
  max-width: 110px;
  width: 85%;
}
.img-row-2 {
  padding-bottom: 20%;
}

.img-row-5 {
  padding-top: 20%;
}

/*--HEADER--------------------*/
header .logo {
  display: block;
  margin: 80px auto 64px auto;
}

header .text-container {
  max-width: 540px;
  margin: 0 auto;
}

.header-image {
  border-radius: 50%;
}

/*--SECTION-----------------------------*/

.section .text-container {
  width: 540px;
  max-width: 95%;
  margin: 0 auto;
  margin-bottom: 80px;
}

/*--BUTTONS----------------------------*/

.buttons {
  display: flex;
  gap: 16px;
  align-items: center;
}

.button {
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
  color: var(--white);
  text-align: center;
  border: none;
  border-radius: 50px;
  font-weight: 700;
  transition-property: background-image;
  transition-duration: 0.5s;
  height: 58px;
}

.button-what {
  background-color: var(--purple);
  width: 139px;
}

.button-download {
  width: 193px;
}

/* COLORS:*/
header .button-download {
  background-color: var(--dark-green);
}

header .span-version {
  color: var(--blue);
}

footer .button-download {
  background-color: var(--purple);
}

footer .span-version {
  color: var(--pink);
}

/*Another idea: only one hover - but complicate to choose opaciy
.button:hover {
  opacity: 0.7;
}
*/

footer .button-download:hover {
  background-color: var(--purple-hover);
}

header .button-download:hover {
  background-color: var(--dark-green-hover);
}

.button-what:hover {
  background-color: var(--purple-hover);
}

/*--SECTION NUMBERS--------------------*/

.section-number {
  margin: 0 auto;
  text-align: center;
  z-index: 10;
  margin-bottom: calc(-56px / 2);
  background-color: var(--white);
  /*Relative way:
   position: relative; 
  bottom: calc(-56px / 2); */
}

.number {
  /*FIXME: overflow problem kad se radi kao flex*/
  /* display: flex;
  text-align: center;
  justify-content: center;
  align-items: center; 
    z-index: 10;
  margin: 0 auto;
  overflow: visible;*/
  font-size: 16px;
  border-radius: 50%;
  letter-spacing: 1px;
  color: var(--gray);
  border: 1px solid var(--light-gray);
  width: 56px;
  height: 56px;
  display: inline-block;
  padding: calc((56px - 26px) / 2);
  text-align: center;
  text-justify: center;
  font-weight: 700;
  line-height: 26px;
  background-color: var(--white);
}

.line {
  border-right: 1px solid var(--light-gray);
  height: 84px;
  width: 1px;
  margin: 0 auto;
}

section h2 {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

/*--IMAGES----------------------------*/

.images {
  max-width: 1140px;
  display: flex;
  align-items: center;
  margin: 80px auto 65px auto;
  flex-wrap: wrap;
  gap: 11px;
  justify-content: space-between;
}

.image {
  width: 100%;
  border-radius: 5%;
  display: flex;
  max-width: 250px;
  justify-content: center;
}

/*--FOOTER------------------------*/
footer p {
  color: var(--white);
  margin-bottom: 0;
}
footer {
  background: linear-gradient(
      0deg,
      var(--dark-green-opacity),
      var(--dark-green-opacity)
    ),
    url("assets/desktop/image-footer.jpg");
  background-size: cover;
  background-position: center;
}

.footer-content {
  max-width: 1140px;
  margin: 0 auto;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  flex-wrap: wrap;
  height: 100%;
  padding: 60px 0;
  min-height: 300px;
}

.footer-box {
  width: 33.333%;
  display: flex;
  padding: 1%;
  justify-content: center;
}
footer h2 {
  margin-bottom: 0;
}

footer h2,
footer p {
  text-align: left;
}

/*--MEDIA-QUERIES---------------------------------*/
@media screen and (max-width: 1200px) {
  footer h2 {
    margin-bottom: 32px;
  }

  footer p {
    margin: 0 15px 32px 15px;
  }

  .header-flex {
    margin-bottom: 80px;
  }

  .text-container {
    max-width: 540px;
    margin: 0 auto;
  }
  .img-group {
    flex-basis: 50%;
    align-items: flex-end;
  }

  .img-left {
    order: 1;
  }

  .img-right {
    order: 2;
  }

  .text-container {
    order: 3;
  }

  .img-row-5 {
    padding-top: 0;
  }
  .img-row-2,
  .img-row-4,
  .img-row-6 {
    padding-bottom: 20%;
  }

  .image {
    max-width: 170px;
  }
  .images {
    justify-content: center;
  }
}

@media screen and (max-width: 950px) {
  footer p {
    padding: 0 50px;
  }

  header .logo {
    margin-top: 48px;
  }

  h1 {
    margin-bottom: 24px;
    margin-top: 72px;
  }

  p,
  footer p {
    text-align: center;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-box {
    height: 29.333%;
    width: 100%;
  }

  footer h2 {
    text-align: center;
    width: 75%;
  }

  footer {
    background: linear-gradient(
        0deg,
        var(--dark-green-opacity),
        var(--dark-green-opacity)
      ),
      url("assets/tablet/image-footer.jpg");
    background-size: cover;
    background-position: center;
  }
}

@media screen and (max-width: 720px) {
  .section .text-container {
    margin-bottom: 64px;
  }

  .image {
    max-width: 250px;
  }

  .images {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 600px) {
  .image {
    max-width: 170px;
  }

  .images {
    margin-left: 24px;
    margin-right: 24px;
    gap: 25px;
  }

  footer p {
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    margin-top: 48px;
  }

  section h2 {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  header .logo {
    margin-bottom: 54px;
  }

  p {
    margin: 0 24px 32px 24px;
  }

  .header-flex {
    margin-bottom: 64px;
  }

  .buttons {
    flex-direction: column;
  }

  .images {
    gap: 25px;
    margin: 64px, 24px;
  }

  .image {
    max-width: 150px;
  }
  footer h2 {
    width: 90%;
  }

  h1 {
    font-size: 40px;
    line-height: 44px;
  }

  h2 {
    font-size: 32px;
    line-height: 36px;
  }

  footer {
    background: linear-gradient(
        0deg,
        var(--dark-green-opacity),
        var(--dark-green-opacity)
      ),
      url("assets/mobile/image-footer.jpg");
    background-size: cover;
    background-position: center;
  }
}

@media screen and (max-width: 372px) {
  .image {
    max-width: 220px;
  }

  h2 {
    margin-left: 15px;
    margin-right: 15px;
  }
}
